app/static/app/css/goji.css linguist-vendored
app/static/app/css/inputs.css linguist-vendored
app/static/app/css/reset.css linguist-vendored
app/static/app/js/* linguist-vendored
*.html linguist-language=Python
